body {
    margin: 0;
    font-size: 20px;
    width: 100vw;
    min-height: 100vh
}

;

img {
    width: 20%;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #021db6;
    padding: 1rem;
    box-shadow: 4px 4px 5px;
}


#Logotipo_FCP {
    height: 15vh;
}


.menu {
    display: flex;
    justify-content: space-evenly;
    min-width: 70vw
}

.menu>li {
    list-style-type: none
}

.menu>li>a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    width: 60vw;

}

main {
    background-image: url("../images/willliamgomesgolotwente.webp");
    width: 100%;
    height: 83vh;
    background-size: cover;
    background-position: bottom;

}

#carouselExampleIndicators {
    height: 30vh;
}

.carousel-item img {
    height: 83vh;
    object-fit: contain;
}